div >  h2{
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: rgba(38, 128, 230, 0.603);
}
fieldset{
    background-color: rgba(243, 243, 243, 0.466);
}
input{
    
    border-style: inset;
    border-color: white;
}

button{
    background-color: grey ;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: inset;
    border-color: white;
    height: 25px;
    width: 60px;
}

